<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <% @forecast.each do |day| %>
      <div class="day">
        <ul>
          <li><%= day.weekday %></li>
          <li><%= day.month %></li>
          <li><%= day.day %></li>
          <li><%= day.high_temp %></li>
          <li><%= day.low_temp %></li>
          <li><%= day.weather_conditions %></li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
